nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
cirtificate.per
pila_coin_storage.pc
# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
java-tcp1921680171883/\.lck
